.jumbotron {
    background-color: dodgerblue;
}

.card-product{
    flex: 1 20%;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.footer {
    padding: 10px 10px 0 10px;
    background-color: dodgerblue;
    margin-bottom: 0px;
    margin-top: 10px;
    color: black;
}
a{
    color: black;
}


